.App {
  font-family: sans-serif;
  text-align: center;
}
.item {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style-type: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
